<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h4><a class="">Swarup Ranjan Behera</a></h4>
      <p style="font-size:12px">
      <i>PhD Cont., CSE, IIT Guwahati</i><br />
      <a class="lead">b.swarup[at]iitg.ac.in</a>
      <a class="lead">swaruprj.vssut[at]gmail.com</a>
      </p>
      <img src="/assets/images/1.jpg"/>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/index.html">About</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

</nav>


<div id="social">
    {% include social.html %}
</div>


  </div>
</div>
